@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

#container{
    height: 100%;
    width: 100%;
    
}

#navbar{
    height: 70px;
    background-color: salmon;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: black;
    margin: 10px ;
    border-radius: 10px;
}

#navbar p{
    position: absolute;
    left: 20px;
    font-size: 200%;
    color: white;
}

#search{
    height: 30px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    border:none;
    padding: 2px;
}

#click{
    height: 30px;
    width: 70px;
    border-radius: 10px;
    background-color: rgb(136, 24, 255);
    border:none;
    color: white;
    cursor: pointer;
    margin: 10px;
    padding: 2px;
}

#cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#cards p{
    color: white;
    margin: 10px;
}

.head{
    font-size: 30px;
}

hr{
    margin: 10px;
    border-top: 2px solid white;
}
#cards img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#cloud{
    height: 200px;
    width: 30%;
    margin: 30px;
    background: rgba(111, 0, 255, 0.2);
    backdrop-filter: blur(25px);
    border: 2px solid rgb(98, 0, 255);
    border-radius: 10px;
}

#temp{
    height: 200px;
    width: 30%;
    background: rgba(111, 0, 255, 0.2);
    backdrop-filter: blur(25px);
    border: 2px solid rgb(98, 0, 255);
    margin: 30px;
    border-radius: 10px;
}
#wind{
    height: 200px;
    width: 30%;
    background: rgba(111, 0, 255, 0.2);
    backdrop-filter: blur(25px);
    margin: 30px;
    border: 2px solid rgb(98, 0, 255);
    border-radius: 10px;
}
#sun{
    height: 200px;
    width: 30%;
    margin: 30px;
    background: rgba(111, 0, 255, 0.2);
    backdrop-filter: blur(25px);
    border: 2px solid rgb(98, 0, 255);
    border-radius: 10px;
}

.data{
    font-size: 15px;
}